.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;   
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    color: rgb(4 120 87);
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid rgb(4 120 87);
    cursor: pointer;
}

.paginationBttns a:hover {
    background-color: rgb(4 120 87);
    color: #fff;
}

.paginationActive a {
    background-color: rgb(4 120 87);
    color: #fff;
}

.text-dis {
    text-decoration: underline;
    color: yellow;
    font-size: small;
}

.h1-dis {
    
} 

.repo-name {
    font-size: 15px;
    font-weight: bold;
    color: white;
    font-style: italic;
}